#about {
  padding: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: linear-gradient(to bottom, rgba(16, 16, 16), rgb(43, 43, 43));

  .box {
    width: 800px;
  }
}

#about-title {
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.5rem;
  font-weight: 300;
  margin: 0;
  line-height: 1.1;
}

@keyframes gradient-shift {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

#about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  line-height: 1.3;
  pointer-events: auto;
  color: rgb(224, 224, 224);
  margin-top: 1rem;
  text-align: left;
  position: relative;
}

.minor-para {
  margin: 1.5rem auto;

  p {
    font-size: 0.8em;
    font-weight: 300;
    color: rgb(224, 224, 224);
    margin: 0;
    position: relative;
  }

  /* Responsive Styles */
  @media (max-width: 654px) {
    padding: 1rem;
    margin: 1rem 0;
    max-width: 100%;

    p {
      font-size: 0.8rem;
    }
  }
}
