#about {
  padding: 7rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: linear-gradient(to bottom, rgba(16, 16, 16), rgb(43, 43, 43));

  .box {
    width: 800px;
  }

  .title {
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0;
    line-height: 1.1;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
    line-height: 1.3;
    pointer-events: auto;
    color: rgb(224, 224, 224);
    margin-top: 1rem;
    text-align: left;
    position: relative;

    p {
      font-weight: 300;
      color: rgb(224, 224, 224);
      margin: 0;
      position: relative;
    }
  }
}

@keyframes gradient-shift {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}


/* Responsive Styles */
@media (max-width: 1000px) {
  #about {
    .box {
      width: 80%;
      max-width: 80%;
    }

    .content p {
      font-size: 0.8rem;
    }
  }
}